$fontLight: "TTTravels-Light", sans-serif; // 300
$fontRegular: "TTTravels-Regular", sans-serif; // 400
$fontMedium: "TTTravels-Medium", sans-serif; // 500
$fontSemiBold: "TTTravels-SemiBold", sans-serif; // 600
$fontBold: "TTTravels-Bold", sans-serif; // 700

